fastapi
uvicorn
presidio-analyzer
presidio-anonymizer
transformers
torch
sentence-transformers
detoxify
pandas
matplotlib
streamlit
tqdm
scikit-learn
pymongo
python-dotenv
groq
langchain
langchain-groq
langchain-core
